# Original stuff
*.pyc
/cscope.out
/cscope.out.in
/cscope.out.po
build
local.make
onie-installer

# Ignore Gradle project-specific cache directory
.gradle

# Potentially lingering file
demo/installer/grub-arch/install.sh.ori
